@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    
    <tbody>
@foreach (Park item in Model) {
               
        <tr>
            <td>
            <a href="~/home/detail/@item.ParkCode"> <img alt="Park Scenary" src="@Html.DisplayFor(modelItem => item.Image)"> </a>
            </td>
            <td>
                <a href="~/home/detail/@item.ParkCode"> @Html.DisplayFor(modelItem => item.Name)</a>
            </td>

            <td>
                <a href="~/home/detail/@item.ParkCode">@Html.DisplayFor(modelItem => item.State)</a>
            </td>

            <td>
                <a href="~/home/detail/@item.ParkCode"> @Html.DisplayFor(modelItem => item.ParkDescripton)</a>
            </td>

          
        </tr>
        
}
    </tbody>
</table>
